/* Comprehensive Custom Primary Color Overrides */

body {
    font-family: 'Inconsolata', monospace;
    background-color: #F8F3EB;
    font-size: large;
}


/* Primary and Secondary Colors */
:root {
    --primary-color: #760ADB;
    --primary-hover-color: #5F08A9;
    --secondary-color: #B19CD9;
    --secondary-hover-color: #967BB6;
}

/* Buttons */
body .btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary.active {
    font-weight: bold !important; /* Make the font bold on hover/focus/active states */
}

body .btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

body .btn-outline-primary:hover,
body .btn-outline-primary:focus,
body .btn-outline-primary:active,
body .btn-outline-primary.active {
    font-weight: bold !important; /* Make the font bold on hover/focus/active states */
    background-color: transparent !important;
    color: var(--primary-color) !important;
}

/* Alerts */
body .alert-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-hover-color) !important;
    color: #fff !important;
}

/* Badges */
body .badge-primary {
    background-color: var(--primary-color) !important;
}

/* Links with .text-primary class */
body .text-primary {
    color: var(--primary-color) !important;
}

body a.text-primary:hover,
body a.text-primary:focus {
    color: var(--primary-hover-color) !important;
}

/* Nav links */
body .nav-link.active {
    color: var(--primary-color) !important;
}

/* Borders */
body .border-primary {
    border-color: var(--primary-color) !important;
}

/* Backgrounds */
body .bg-primary {
    background-color: var(--primary-color) !important;
}

/*!* Font Awesome Icons Custom Colors *!*/
/*.fa, .fab, .fas, .far {*/
/*    color: var(--primary-color) !important;*/
/*}*/

/*.fa:hover, .fab:hover, .fas:hover, .far:hover {*/
/*    color: var(--primary-hover-color) !important; !* Slightly darker shade for hover state *!*/
/*}*/
h5 {
    color: #A9A9B3 !important;
}

h5 a {
    color: var(--primary-color) !important;
    text-decoration: none; /* Optional: removes the underline from the link */
}

h5 a:hover {
    text-decoration: underline; /* Optional: underlines the link on hover for better clarity */
}

a {
    color: black; /* Primary color for normal state */
    font-weight: bold;
    text-decoration: none; /* Optional: to remove the underline */
}

a:hover, a:focus {
    color: black; /* Slightly darker shade for hover/focus state */
    text-decoration: underline; /* Optional: to add an underline on hover/focus */
}
#contentContainer p {
    font-family: 'Inconsolata', monospace;
    font-weight: 200; /* This sets the font-weight to the light version */
}
.timeline {
    position: relative;
}

.timeline-item {
    display: flex;  /* Use flexbox for layout */
    align-items: start;  /* Align items to the top */
    margin-bottom: 30px;  /* Spacing between items */
}

.timeline-item .date {
    flex-shrink: 0;  /* Prevent date from shrinking */
    width: 100px;  /* Width for the date */
    font-weight: bold;
    color: #555;  /* A gray color that complements the primary theme */
    text-align: right;  /* Right-align the date */
    margin-right: 20px;  /* Spacing between date and content */
}

.timeline-item p {
    flex-grow: 1;  /* Allow content to take remaining space */
    margin: 0;
    padding-left: 10px;
    line-height: 1.5;  /* Line height for readability */
}

/* Remove underline from focused or active buttons */
.btn:focus, .btn:active {
    text-decoration: none;
    box-shadow: none;  /* Optional: To remove the default focus box-shadow */
}

/* Add bold text for active buttons */
.btn:active {
    font-weight: bold;
}
/* Remove underline from hovered buttons */
.btn:hover {
    text-decoration: none;
}
#thoughts-list h3 {
    color: #760ADB; /* Primary color */
    margin-bottom: 20px;
}

.thought-entry h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.thought-entry p {
    margin-bottom: 20px;
}
.fab.fa-linkedin { color: #0077b5 !important; }
.fab.fa-instagram { color: #C13584 !important; }
.fab.fa-facebook { color: #3b5998 !important; }
.fab.fa-twitter { color: #1DA1F2 !important; }
.fab.fa-github { color: #333 !important; }
.fas.fa-graduation-cap { color: #4285F4 !important; } /* Google Scholar doesn't have an official color, using Google's blue */
.fab.fa-medium { color: black !important; }






